<h1>Listing birds</h1>

<% if flash[:notice] %>
	<div id="notice" ><%= flash[:notice] %></div>
<% end %>

<% if session[:user].nil? or session[:user].level.downcase != "admin"
	loggedin = false 
   else loggedin = true
	end %>

<table>
  <tr>
	<th>ID</th>
    <th>Common name</th>
    <th>Reviewable</th>
	<% if loggedin %>
    <th></th>
    <th></th>
    <!-- Third column removed - we don't want 'destroy'<th></th>-->
	<th>Toggle Reviewable</th><!-- New third column: toggle reviewable -->
	<% end %>
  </tr>

<% @birds.each do |bird| %>
  <tr>
	<td><%= bird.id %></td>
    <td><%= bird.common_name %></td>
    <td><%= bird.reviewable %></td>
	<% if loggedin %>
    <td><%= link_to 'Show', bird %></td>
    <td><%= link_to 'Edit', edit_bird_path(bird) %></td>
    <!--No longer allowing 'destroy'<td><%= link_to 'Destroy', bird, confirm: 'Are you sure?', method: :delete %></td>-->
	<td><%= link_to 'Toggle', bird, method: :toggle %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= if loggedin 
	link_to 'New Bird', new_bird_path 
	end %>
