<h1>Listing birds</h1>

<table>
  <tr>
    <th>Common name</th>
    <th>Reviewable</th>
    <th></th>
    <th></th>
    <!-- Third column removed - we don't want 'destroy'<th></th>-->
  </tr>

<% @birds.each do |bird| %>
  <tr>
    <td><%= bird.common_name %></td>
    <td><%= bird.reviewable %></td>
    <td><%= link_to 'Show', bird %></td>
    <td><%= link_to 'Edit', edit_bird_path(bird) %></td>
    <!--No longer allowing 'destroy'<td><%= link_to 'Destroy', bird, confirm: 'Are you sure?', method: :delete %></td>-->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bird', new_bird_path %>
