<h1>Listing birds</h1>

<script>
	$(document).ready(function(){
	$("#reset").bind("click", function (){
		$("#search_field").val("");
	});
	});
</script>

<% if flash[:notice] %>
	<div id="notice" ><%= flash[:notice] %></div>
<% end %>

<%= form_tag birds_path, :method => 'get' do %>
     <%= text_field_tag :search, params[:search], :id => 'search_field'	 %>
      <%= submit_tag "Search", :name => nil %> 
	  <input type ="button" value="Reset" id="reset"/>
<% end %> 

<% if params[:search] %>
	  <%= link_to "Show All", birds_path, :class => "button", :method => :get  %><br />
<% end %> 


<table>
  <tr>
	<th>ID</th>
    <th>Common name</th>
    <th>Reviewable</th>

	<% if isadmin? %>
    <th></th>
    <th></th>
    <!-- Third column removed - we don't want 'destroy'<th></th>-->
	<th>Toggle Reviewable</th><!-- New third column: toggle reviewable -->
	<% end %>
  </tr>

<% @birds.each do |bird| %>
  <tr class="subRow">
	<td><%= bird.id %></td>
    <td><%= link_to bird.common_name, bird %></td>
    <td><%= bird.reviewable.humanize %></td>
	<% if isadmin? %>
    <td><%= link_to 'Show', bird %></td>
    <td><%= link_to 'Edit', edit_bird_path(bird) %></td>
    <!--No longer allowing 'destroy'<td><%= link_to 'Destroy', bird, confirm: 'Are you sure?', method: :delete %></td>-->
	<td><%= link_to 'Toggle', toggle_bird_path(bird) %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= if isadmin? 
	link_to 'New Bird', new_bird_path 
	end %>
