<p id="notice"><%= notice %></p>

<p>
  <b>Common name:</b>
  <%= @bird.common_name %>
</p>

<p>
  <b>Reviewable:</b>
  <%= @bird.reviewable.humanize %>
</p>

<p>
  <b>Exceptions:</b>
  <%= @bird.region %>
</p>

<% if (@submissions.length > 0) then%>
 <div id="search">
    <%= render :partial => 'submissions/list' %>
 </div>
 <% else %><br><br>
 <div>No sightings found for this bird.</div>
 <% end %>

<%= link_to 'Review List', birds_path %><% if isadmin?%> |
<%= link_to 'Edit', edit_bird_path(@bird) %> | 
<%= link_to 'New', new_bird_path %>
<% end %>