<h1>User Administration</h1>
<%= form_tag users_path, :method => 'get' do%>
	<%= select_tag :field, options_for_select(user_search_params, params[:field]) %>
    <%= text_field_tag :search, params[:search] %>
	<br/>
	<%= select_tag :per_page, options_for_select(results_per_page, params[:per_page]) %> results per page
	<br/>
    <%= submit_tag "Search", :name=> nil%> 
	  <input type ="button" value="Reset" id="reset"/>
<% end%> 



<h1>Submission Administration</h1>

<%= form_tag search_submissions_path, :method => 'get' do %>
	<%= select_tag :field, options_for_select(search_params, params[:field]) %>
     <%= text_field_tag :search, params[:search] %>
	 <br />
	 <%= select_tag :per_page, options_for_select(results_per_page, params[:per_page]) %> results per page
	<br/>
      <%= submit_tag "Search", :name => nil %> 
	  <input type ="button" value="Reset" id="reset"/>
<% end %>  

<h1>Vote Administration</h1>
	   
<%= render :file => '/votes/index' %>