<script>
  $(document).ready(function() {
    $("#submission_common_name" ).autocomplete({
        source: birdArray
    });
	
	$(".subHead").on("click",function(event) {
		var titleName = $(this).attr("id");
		var divName = titleName.replace("Title","");
		
		if($("#" + divName).is(":visible")) {
			$("#" + divName).slideUp();
			$(this).text(function () {
				return $(this).text().replace("-", "+"); 
			});
		}
		else {
			$("#" + divName).slideDown();
			$(this).text(function () {
				return $(this).text().replace("+", "-"); 
			});
		}
	});
	
	$("[id$=Admin]").slideUp();
	
});
   var birdArray = <%= Bird.all.map(&:common_name).sort.to_json.html_safe %>;
   
   
   
   

</script>

<h1 id="userAdminTitle" class="subHead">User Administration +</h1>
  <div id="userAdmin">

<%= render :partial => 'users/searchform' %>
</div>


<h1 id="submissionAdminTitle" class="subHead">Submission Administration +</h1>
  <div id="submissionAdmin">

<%= form_tag submissions_path, :method => 'get' do %>
	<%= select_tag :field, options_for_select(search_params, params[:field]) %>
     <%= text_field_tag :search, params[:search] %>
	 <br />
	 <%= select_tag :per_page, options_for_select(results_per_page, params[:per_page]) %> results per page
	<br/>
      <%= submit_tag "Search", :name => nil %> 
	  <input type ="button" value="Reset" id="reset"/>
<% end %>  
</div>
<h1 id="voteAdminTitle" class="subHead">Vote Administration +</h1>
  <div id="voteAdmin">

<%= render :file => '/votes/index' %>
</div>


<h1 id="postAdminTitle" class="subHead">Post Administration +</h1>
  <div id="postAdmin">

<%= render :file => 'posts/index' %>
</div>

