

<%= page_heading "User List" %>

<%= link_to 'Back to Admin Tools', admin_pages_path %>

<h1>Listing users</h1>
<script>
	$(document).ready(function(){
	$("#reset").bind("click", function (){
		$("#search").val("");
	});
	});
</script>

<%= form_tag users_path, :method => 'get' do%>
	<%= select_tag :field, options_for_select(user_search_params, params[:field]) %>
    <%= text_field_tag :search, params[:search] %>
	<br/>
	<%= select_tag :per_page, options_for_select(results_per_page, params[:per_page]) %> results per page
	<br/>
    <%= submit_tag "Search", :name=> nil%> 
	  <input type ="button" value="Reset" id="reset"/>
<% end%> 

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Phone</th>
    <th>Address line1</th>
    <th>Address line2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Email</th>
    <th>Prev exp</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.phone %></td>
    <td><%= user.address_line1 %></td>
    <td><%= user.address_line2 %></td>
    <td><%= user.city %></td>
    <td><%= user.state %></td>
    <td><%= user.zip %></td>
    <td><%= user.email %></td>
    <td><%= user.prev_exp %></td>
    <td><%= user.level.titleize if user.level %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @submissions %>

<br />


<%= link_to 'New User', new_user_path %>
