<div class= "Sign_Form">
<h1>Log in</h1>


<br>
<%= form_tag(:action => 'login_attempt') do %>

<div class="subLabel">
	<span>Email:</span>
	<%= text_field_tag(:email) %>
</div>
<div class="subLabel">
	<span>Password:</span>
	<%= password_field_tag :login_password %>
</div>
<span><%= submit_tag "Log In", :class=>"btn-custom" %></span>
<br>
<% end %>
<div class="subLabel">
	Don't have your own profile?<br>
	<span><%= button_to 'Register Here', new_user_path, :method => :get, :action => 'new', :class => "btn-custom" %></span>
</div>
</div>