<div class= "Sign_Form">
<h1>Log in</h1>


<br>
<%= form_tag(:action => 'login_attempt') do %>

<div class="subLabel black">
	<span>Email:</span>
	<%= text_field_tag(:email) %>
</div>
<div class="subLabel black">
	<span>Password:</span>
	<%= password_field_tag :login_password %>
</div>
<span><%= submit_tag "Log In", :class=>"btn-custom" %></span>
<% end %>
	<span>Don't have your own profile?</span>
	<br>
	<span><%= button_to 'Register Here', new_user_path, :method => :get, :action => 'new', :class => "btn-custom" %></span>

</div>