<h1>User Info</h1>

<table>
<tr class="subRow">
    <td>
	<b>First Name:</b>
	</td>
	
	<td>
	<%= @user.first_name %>
	</td>	
</tr>

<tr class="subRow">
	<td>
	<b>Last Name:</b>
	</td>
	
	<td>
	<%= @user.last_name %>
	</td>
</tr>

<tr class="subRow">
	<td>
	<b>Phone:</b>
	</td>
	
	<td>
	<%= @user.phone %>
	</td>
</tr>

<tr class="subRow">
	
	<td>
	<b>Address Line 1:</b>
	</td>
	
	<td>
	<%= @user.address_line1 %>
	</td>
</tr>

<tr class="subRow">
	<td>
	<b>Address Line 2:</b>
	</td>
	
	<td>
	<%= @user.address_line2 %>
	</td>
</tr>

<tr class="subRow">
	<td>
	<b>City:</b>
	</td>
	
	<td>
	<%= @user.city %>
	</td>
	
</tr>

<tr class="subRow">
	<td>
	<b>State:</b>
	</td>
	
	<td>
	<%= @user.state %>
	</td>
</tr>

<tr class="subRow">
	<td>
	<b>Zip:</b>
	</td>
	
	<td>
	<%= @user.zip %>
	</td>
</tr>

<tr class="subRow">
	<td>
	<b>Email:</b>
	</td>
	
	<td>
	<%= mail_to @user.email %>
	</td>
</tr>

<tr class="subRow">
	<td>
	<b>Previous Experience:</b>
	</td>
	
	<td>
	<%= @user.prev_exp %>
	</td>
</tr>

<tr class="subRow">
	<td>
	<b>Level:</b>
	</td>
	
	<td>
	<%= @user.level.titleize %>
	</td>
</tr>


</table>

<br>


	
<%= button_to 'Edit', edit_user_path(@user), :class=>'btn-custom', :form_class=>'inline' %>
  

	<% if isadmin? %>
<%= button_to 'Destroy', @user, :class=>'btn-custom', :form_class=>'inline', :confirm => "Are you sure you want to delete user "+@user.name+"?", method: :delete  %><% end %>

<br/>
<br/>
<% if isadmin? %>
<%= link_to "User List", users_path %>
<% end %>
<br>

<h1>My Submissions</h1>

<%= render :partial => 'submissions/list' %>


		

			