<div class= "Sign_Form">
<h1>Log in</h1>



<%= form_tag(:action => 'login_attempt') do %>
<p>Email:</br> <%= text_field_tag(:email) %></p>
<p>Password:</br> <%= password_field_tag :login_password %></p>
<span><%= submit_tag "Log In", :class=>"btn-custom" %></span><br>
<% end %>
</br>Don't have your own profile?<br>

<span><%= button_to 'Register Here', new_user_path, :method => :get, :action => 'new', :class => "btn-custom" %></span>
</div>