<h1>User Info</h1>

<table>
<tr>
    <td>
	<b>First Name:</b>
	</td>
	
	<td>
	<%= @user.first_name %>
	</td>	
</tr>

<tr>
	<td>
	<b>Last Name:</b>
	</td>
	
	<td>
	<%= @user.last_name %>
	</td>
</tr>

<tr>
	<td>
	<b>Phone:</b>
	</td>
	
	<td>
	<%= @user.phone %>
	</td>
</tr>

<p>
	<b>Address Line 1:</b>
	<%= @user.address_line1 %>
</p>

<p>
	<b>Address Line 2:</b>
	<%= @user.address_line2 %>
</p>

<p>
	<b>City:</b>
	<%= @user.city %>
</p>

<p>
	<b>State:</b>
	<%= @user.state %>
</p>

<p>
	<b>Zip:</b>
	<%= @user.zip %>
</p>

<p>
	<b>Email:</b>
	<%= @user.email %>
</p>

<p>
	<b>Previous Experience:</b>
	<%= @user.prev_exp %>
</p>

<p>
	<b>Level:</b>
	<%= @user.level.titleize %>
</p>
</table>	

<h1>My Submissions</h1>
<%= render :partial => 'submissions/list' %>
	<%= link_to 'Edit', edit_user_path(@user) %> |
		<%= link_to 'Back', users_path %>
			