<h1>Listing multimedia</h1>

<table>
  <tr>
    <th>Thumb</th>
	<th>Submission</th>
    <th>Time</th>
    <th>Size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @multimedia.each do |multimedium| %>
  <tr>
    <td><%= image_tag multimedium.image_url(:thumb).to_s if multimedium.image? %></td>
	<td><%= multimedium.submission_id %></td>
    <td><%= link_to 'Show', multimedium %></td>
    <td><%= link_to 'Edit', edit_multimedium_path(multimedium) %></td>
    <td><%= link_to 'Destroy', multimedium, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Multimedium', new_multimedium_path %>
