
<script>
  $(document).ready(function() {
    $("#submission_common_name" ).autocomplete({
        source: birdArray
    });
	
	$(".subHead").on("click",function(event) {
		var titleName = $(this).attr("id");
		var divName = titleName.replace("Title","");
		
		if($("#" + divName).is(":visible")) {
			$("#" + divName).hide();
		}
		else {
			$("#" + divName).show();
		}
	});
});
   var birdArray = <%= Bird.all.map(&:common_name).sort.to_json.html_safe %>;

</script>
<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span style="float:left;" id="birdInfoTitle" class="subHead">Bird Information</span>
  <div class="subGroup" id="birdInfo">
	<br><br>
  	<div style="float:left; margin-right:20px;">
		<span class="subLabel">Degree</span>
		<br><br>
		<span class="subLabel">Common Name</span>
		<br><br>
		<span class="subLabel">Number of Birds</span>
		<br><br>
		<span class="subLabel">Age of Bird(s)</span>
		<br><br>
		<span class="subLabel">Sex of Bird(s)</span>
		<br><br>
		<span class="subLabel">Plumage</span>
		<br><br>
		<span class="subLabel">Detailed Description</span>
		<br><br>
		<span class="subLabel">Detailed Behavior</span>
		<br><br>
		<span class="subLabel">Distinguishing Characteristics</span>
	</div>
    <div>
		<%= f.text_field :s_degree %>
		<br><br>
		<%= f.text_field :common_name %>
		<br><br>
		<%= f.number_field :num_of_birds %>
		<br><br>
		<%= f.text_field :age %>
		<br><br>
		<%= f.text_field :sex %>
		<br><br>
		<%= f.text_field :plumage %>
		<br><br>
		<%= f.text_field :detailed_description %>
		<br><br>
		<%= f.text_field :detailed_behavior %>
		<br><br>
		<%= f.text_field :distinguished_char %>
	</div>
  </div>
  <br><br>
  <span style="float:left;" id="subInfoTitle" class="subHead">Submission Information</span>
  <div class="subGroup" id="subInfo">
	<br><br>
  	<div style="float:left; margin-right:20px;">
		<span class="subLabel">Co-observers</span>
		<br><br>
		<span class="subLabel">Location</span>
		<br><br>
		<span class="subLabel">GPS Coordinates</span>
		<br><br>
		<span class="subLabel">Date</span>
		<br><br>
		<span class="subLabel">Length of Observation</span>
		<br><br>
		<span class="subLabel">Distance from Bird</span>
		<br><br>
		<span class="subLabel">Optical Equipment Used</span>
		<br><br>
		<span class="subLabel">References Used</span>
		<br><br>
		<span class="subLabel">Submission Made</span>
		<br><br>
		<span class="subLabel">Unusual Sighting</span>
		<br><br>
		<span class="subLabel">Field Guide Used</span>
		<br><br>
		<span class="subLabel">Previous experience with species</span>
		<br><br>
		<span class="subLabel">Notes</span>
		<br><br>
		<span class="subLabel">Multimedia</span>
	</div>
    <div>
		<%= f.text_area :coobservers %>
		<br><br>
		<%= f.text_field :location %>
		<br><br>
		<%= f.text_field :gps %>
		<br><br>
		<%= f.text_field :sight_date_time %>
		<br><br>
		<%= f.text_field :length_of_obs %>
		<br><br>
		<%= f.text_field :distance_from %>
		<br><br>
		<%= f.text_field :optical_equipment %>
		<br><br>
		<%= f.text_field :detailed_behavior %>
		<br><br>
		<%= f.text_field :distinguished_char %>
	</div>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    
  </div>
  <div class="field">
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :sight_date_time %><br />
    
  </div>
  <div class="field">
    <%= f.label :habitat %><br />
    <%= f.text_field :habitat %>
  </div>
  <div class="field">
    <%= f.label :gps %><br />
    
  </div>
  <div class="field">
    <%= f.label :coobservers %><br />
    
  </div>
  <div class="field">
    <br />
    
  </div>
  <div class="field">
    <%= f.label :distance_from %><br />
    
  </div>
  <div class="field">
    <%= f.label :prev_bird_exp %><br />
    <%= f.text_area :prev_bird_exp %>
  </div>
  <div class="field">
    <%= f.label :optical_equipment %><br />
    
  </div>
  <div class="field">
    <%= f.label :references %><br />
    <%= f.text_field :references %>
  </div>
  <div class="field">
    <%= f.label :sub_recall %><br />
    <%= f.number_field :sub_recall %>
  </div>
  <div class="field">
    <%= f.label :guide_use %><br />
    <%= f.text_field :guide_use %>
  </div>
  <div class="field">
    <%= f.label :unusual %><br />
    <%= f.text_field :unusual %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :media %><br />
    <%= f.text_field :media %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :rounds %><br />
    <%= f.number_field :rounds %>
  </div>
  <div class="field">
    <%= f.label :date_accepted %><br />
    <%= f.datetime_select :date_accepted %>
  </div>
  <div class="field">
    <%= f.label :date_votable %><br />
    <%= f.datetime_select :date_votable %>
  </div>
  <div class="field">
    <%= f.label :admin_notes %><br />
    <%= f.text_area :admin_notes %>
  </div>
  <div class="field">
    <%= f.label :working_notes %><br />
    <%= f.text_area :working_notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
