<h1>Search </h1>

<%= form_tag :controller => 'submissions', :action => 'search', :method => 'post' do %>
	<%= select_tag :field, options_for_select(search_params, @selected) %>
     <%= text_field_tag :search, params[:search], :id => 'search_field' %>
      <%= submit_tag "Search", :name => nil %> 
	  <input type="reset"/>
<% end %> 
<% if (!params[:search].nil?) then %>
<% if (@submissions.length > 0) then%>
 <div id="search">
    <%= render :file => 'submissions/index' %>
 </div>
 <% else %><br><br>
 <div>No Results</div>
 <% end %>
 <% end %>