<% if isadmin? %>
<%= link_to 'Back to Admin Tools', admin_pages_path %>
<%end%>

<script>
	$(document).ready(function(){
	$("#reset").bind("click", function (){
		$("#search").val("");
	});
	});
</script>

<h1>Search </h1>
<%= form_tag search_submissions_path, :method => 'get' do %>
	<%= select_tag :field, options_for_select(search_params, params[:field]) %>
     <%= text_field_tag :search, params[:search] %>
	 <br />
	 <%= select_tag :per_page, options_for_select(results_per_page, params[:per_page]) %> results per page
	<br/>
      <%= submit_tag "Search", :name => nil %> 
	  <input type ="button" value="Reset" id="reset"/>
<% end %> 
<% if (@submissions.length > 0) then%>
 <div id="search">
    <%= render :file => 'submissions/index' %>
 </div>
 <% else %><br><br>
 <div>No Results</div>
 <% end %>
 