<%= form_for [@submission, @vote] do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
  <% if isreviewer? %>
  <div class="subLabel">
    <span>Vote</span>
    <%= f.select :vote,[["Accept","A"],["Reject","R"]]  %>
  </div>
  <br>
  <div class="subLabel">
    <span style="position:relative; bottom:40px;">Comments</span>
    <%= f.text_area :comments, :rows => "5", :cols => "35" %>
  </div>
  <!-- Print out old comments on this vote! -->
  <br><br>
  <span class ="subHead">Past Voting Information</span>
  <br><br>
	<% if @oldRecords %>
  <% @oldRecords.each do |r| %>
	<div class="subLabel">
		<br>
		Comment made by <%= r.voter_name %> on <%= r.vote_time %>:
		<br><br>
		<p>
			<%= r.comment %>
		</p>
	</div>
	
  <% end %>
  <% else %>No old records. <br>
  <% end %>
  <br><br>
  <div class="actions">
    <%= f.submit "Make Vote" %>
  </div>
  <% end %>
<% end %>
