<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @vote.user_id %>
</p>

<p>
  <b>Submission:</b>
  <%= @vote.submission_id %>
</p>

<p>
  <b>Round:</b>
  <%= @vote.round %>
</p>

<p>
  <b>Vote:</b>
  <%= @vote.vote %>
</p>

<p>
  <b>Comments:</b>
  <%= @vote.comments %>
</p>

<p>
  <b>Time:</b>
  <%= @vote.time %>
</p>

<% if isadmin? %>
<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
<% end %>


<% if isreviewer? %>
<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', pending_votes_path %>
<% end %>