
<script>
  $(document).ready(function() {
    $("#submission_common_name" ).autocomplete({
        source: birdArray
    });
	
	$(".subHead").on("click",function(event) {
		var titleName = $(this).attr("id");
		var divName = titleName.replace("Title","");
		
		if($("#" + divName).is(":visible")) {
			$("#" + divName).slideUp();
		}
		else {
			$("#" + divName).slideDown();
		}
	});
	
});
   var birdArray = <%= Bird.all.map(&:common_name).sort.to_json.html_safe %>;
   
   function validateSubmission()
   {
		alert("TEST FUNCTION: validateSubmission");
		return true;
   }
   

</script>

  <%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
	<div id="error_explanation">
	  <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

	  <ul>
	  <% @submission.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	  <% end %>
	  </ul>
	</div>
  <% end %>

  <span id="birdInfoTitle" class="subHead">Bird Information</span>
  <br><br>
  <div class="subGroup" id="birdInfo">
  	<div class="subLabel">
		<span>Common Name</span>
		<%= f.text_field :common_name %>
	</div>
	<br>
	<div class="subLabel">
		<span>Number of Birds</span>
		<%= f.number_field :num_of_birds %>
	</div>
	<br>
	<div class="subLabel">
		<span>Age of Bird(s)</span>
		<%= f.text_field :age %>
	</div>
	<br>
	<div class="subLabel">
		<span>Sex of Bird(s)</span>
		<%= f.text_field :sex %>
	</div>
	<br>
	<div class="subLabel">
		<span style="position:relative; bottom:90px;">Plumage</span>
		<%= f.text_area :plumage, :rows => "5", :cols => "35" %>
	</div>
	<br>
	<div class="subLabel">
		<span style="position:relative; bottom:90px;">Detailed Description</span>
		<%= f.text_area :detailed_description, :rows => "5", :cols => "35" %>
	</div>
	<br>
	<div class="subLabel">
		<span style="position:relative; bottom:90px;">Detailed Behavior</span>
		<%= f.text_area :detailed_behavior, :rows => "5", :cols => "35" %>
	</div>
	<br>
	<div class="subLabel">
		<span style="position:relative; bottom:70px;">Distinguishing Characteristics</span>
		<%= f.text_area :distinguished_char, :rows => "5", :cols => "35" %>
	</div>
	<br>
	<div class="subLabel">
		<span style="position:relative; bottom:95px;">Habitat Description</span>
		<%= f.text_area :habitat, :rows => "5", :cols => "35" %>
	</div>
  </div>
  
  <br>
  
  <span id="subInfoTitle" class="subHead">Submission Information</span>
  <br><br>
  <div class="subGroup" id="subInfo">
	<div class="subLabel">
		<span>Co-observers</span>
		<%= f.text_field :coobservers %>

	</div>
	<br>
	<div class="subLabel">
		<span>Location</span>
		<%= f.text_field :location %>
	</div>
	<br>
	<div class="subLabel">
		<span>GPS Coordinates</span>
		<%= f.text_field :gps %>
	</div>
	<br>
	<div class="subLabel">
		<span>Sighting Date</span>
		<%= f.text_field :sight_date_time, :class => "datep" %> 
		<!-- %= f.time_select :sight_date_time, :ignore_date => true, :ampm => true % -->
	</div>
	<br>
	<div class="subLabel">
		<span>Length of Observation</span>
		<%= f.text_field :length_of_obs %>
	</div>
	<br>
	<div class="subLabel">
		<span>Distance from Bird</span>
		<%= f.text_field :distance_from %>
	</div>
	<br>
	<div class="subLabel">
		<span style="position:relative; bottom:95px;">Optical Equipment Used</span>
		<%= f.text_area :optical_equipment, :rows => "5", :cols => "35" %>
	</div>
	<br>
	<div class="subLabel">
		<span style="position:relative; bottom:95px;">References Used</span>
		<%= f.text_area :references, :rows => "5", :cols => "35" %>
	</div>
	<br>
	<div class="subLabel">
		<span>Submission made</span>
		<%= f.radio_button :sub_recall,"0",:style =>"width:20px;",:checked => true %>During Sighting
		<br>
		<%= f.radio_button :sub_recall,"1",:style =>"margin-left:209px;width:20px;" %>After Sighting
	</div>
	<br>
	<div class="subLabel">
		<span>Is an unusual sighting?</span>
		<%= f.check_box :unusual, :style => "width:20px;" %>
	</div>
	<br>
	<div class="subLabel">
		<span style="position:relative; bottom:95px;">Field Guide Used</span>
		<%= f.text_area :guide_use, :rows => "5", :cols => "35" %>
	</div>
	<br>
	<div class="subLabel">
		<span style="position:relative; bottom:95px;">Previous Experience</span>
		<%= f.text_area :prev_bird_exp, :rows => "5", :cols => "35" %>
	</div>
	<br>
	<div class="subLabel">
		<span style="position:relative; bottom:95px;">Notes</span>
		<%= f.text_area :notes, :rows => "5", :cols => "35" %>
	</div>
	<br>
	<div class="subLabel">
		<span>Multimedia</span>
		<%= f.text_field :media %>
		<br />
		<%= f.fields_for :multimedia do |multimedia_fields| %>
			<%= image_tag(multimedia_fields.object.image_url(:thumb)) if multimedia_fields.object.image? %>			
			<% if multimedia_fields.object.new_record? %>
				<br />
				Image: <%= multimedia_fields.file_field :image %>
					   <%= multimedia_fields.hidden_field :image_cache %>
				<br />
			<% end %>
		<% end %>
		<br />
	</div>
  </div>
  
  <br>
  
  <span id="adminInfoTitle" class="subHead">Administrator Information</span>
  <br><br>
  <div class="subGroup" id="adminInfo">
	<div class="subLabel">
		<span style="position:relative; bottom:95px;">Working Notes</span>
		<%= f.text_area :working_notes, :rows => "5", :cols => "35" %>
	</div>
	<br>
	<div class="subLabel">
		<span>Category of Acceptance</span>
		<%= f.text_field :s_degree %>
	</div>
	<br>
	<div class="subLabel">
		<span>Region</span>
		<%= f.text_field :region %>
	</div>
	<br>
	<div class="subLabel">
		<span>Voting Date</span>
		<%= f.text_field :date_votable, :class => "datep" %>
		<!-- %= f.time_select :date_votable, :ignore_date => true, :ampm => true %-->
	</div>
	<br>
	<div class="subLabel">
		<span>Submission Status</span>
		<%= f.label :status%>
	</div>
  </div>
  
  <br>
  
	
<br><br>
	
	<div class="actions">
		<%= f.submit "Submit", :onclick => "return validateSubmission();" %>
	</div>
	<% end %>
