<p id="notice"><%= notice %></p>

<p>
  <b>S degree:</b>
  <%= @submission.s_degree %>
</p>

<p>
  <b>Submission date time:</b>
  <%= @submission.created_on %>
</p>

<p>
  <b>User:</b>
  <%= @submission.User_id %>
</p>

<p>
  <b>Sub fname:</b>
  <%= @submission.sub_fname %>
</p>

<p>
  <b>Sub lname:</b>
  <%= @submission.sub_lname %>
</p>

<p>
  <b>Species:</b>
  <%= @submission.species %>
</p>

<p>
  <b>Common name:</b>
  <%= @submission.common_name %>
</p>

<p>
  <b>Num of birds:</b>
  <%= @submission.num_of_birds %>
</p>

<p>
  <b>Age:</b>
  <%= @submission.age %>
</p>

<p>
  <b>Sex:</b>
  <%= @submission.sex %>
</p>

<p>
  <b>Plumage:</b>
  <%= @submission.plumage %>
</p>

<p>
  <b>Location:</b>
  <%= @submission.location %>
</p>

<p>
  <b>Region:</b>
  <%= @submission.region %>
</p>

<p>
  <b>Sight date time:</b>
  <%= @submission.sight_date_time %>
</p>

<p>
  <b>Habitat:</b>
  <%= @submission.habitat %>
</p>

<p>
  <b>Gps:</b>
  <%= @submission.gps %>
</p>

<p>
  <b>Coobservers:</b>
  <%= @submission.coobservers %>
</p>

<p>
  <b>Length of obs:</b>
  <%= @submission.length_of_obs %>
</p>

<p>
  <b>Distance from:</b>
  <%= @submission.distance_from %>
</p>

<p>
  <b>Detailed description:</b>
  <%= @submission.detailed_description %>
</p>

<p>
  <b>Detailed behavior:</b>
  <%= @submission.detailed_behavior %>
</p>

<p>
  <b>Distinguished char:</b>
  <%= @submission.distinguished_char %>
</p>

<p>
  <b>Prev bird exp:</b>
  <%= @submission.prev_bird_exp %>
</p>

<p>
  <b>Optical equipment:</b>
  <%= @submission.optical_equipment %>
</p>

<p>
  <b>References:</b>
  <%= @submission.references %>
</p>

<p>
  <b>Sub recall:</b>
  <%= @submission.sub_recall %>
</p>

<p>
  <b>Guide use:</b>
  <%= @submission.guide_use %>
</p>

<p>
  <b>Unusual:</b>
  <%= @submission.unusual %>
</p>

<p>
  <b>Notes:</b>
  <%= @submission.notes %>
</p>

<p>
  <b>Media:</b>
  <%= @submission.media %>
</p>

<p>
  <b>Status:</b>
  <%= @submission.status %>
</p>

<p>
  <b>Rounds:</b>
  <%= @submission.rounds %>
</p>

<p>
  <b>Date accepted:</b>
  <%= @submission.date_accepted %>
</p>

<p>
  <b>Date votable:</b>
  <%= @submission.date_votable %>
</p>

<p>
  <b>Admin notes:</b>
  <%= @submission.admin_notes %>
</p>

<p>
  <b>Working notes:</b>
  <%= @submission.working_notes %>
</p>


<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
